flask
flask-cors
pymongo
pyjwt
bcrypt
python-dotenv
pydantic
bleach
spacy
pdfplumber
pytesseract
pdf2image
torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1
transformers==4.44.2
sentence-transformers==3.0.1
pythainlp
Sastrawi
nltk